<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin</title>

<script type="text/javascript" th:src="@{/js/actions.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
hr{
	color:black;
}
.topnavi a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnavi a:hover {
  background-color: #ddd;
  color: black;
}

.topnavi a.active {
  background-color: darkcyan;
  color: ghostwhite;
}
body{
	background-color: #f7fffa !important;
	font-family: 'Jost', sans-serif;
}
.wrapper{
	
	width: 70%;
	margin: auto;
	margin-top: 35px;
}
table{
	text-align: center;
	border:none;
	
}
#PatientsList{
	background-color:mediumseagreen;
	width:30%;
	height:40px;
	border-radius:7px;
}
#DList
{
	background-color:mediumseagreen;
	width:30%;
	height:40px;
	border-radius:7px;
}
#DoctorsList
{
	background-color:mediumseagreen;
	width:30%;
	height:40px;
	border-radius:7px;
}
#btn-accept{
	background-color: mediumseagreen;
	color: white;
}
#btn-reject{
	background-color: red;
	color: white;
}

</style>
</head>
<body>

<div>
	<div style=" height: 50px;"></div>
	<div class="topnavi" style="margin-left: 50px;">
  <a class="active" href="#">Home</a>
  <a th:href="@{/login}" style="margin-left: 700px;" >Logout</a>
	</div>
</div>
<br>
<br>
<br>
<h2 style="text-align:center;"><b>Admin Page</b></h2>
<div class="wrapper" align="center">
	
	<h4 style="text-align:left;"><b>Pending Doctor Verifications</b></h4>  
	<!--  <button type="button" id="DList" class="DList">Show Doctors List</button>
	<button type="button" id="Hbtn1" style="background-color:red; display:inline; color:white; width:30%; height:40px; border-radius:7px;">Hide</button>-->
	<br>
	<br>
	<table class="table" style="border:none !important;">
	<thead>
    <tr>
        <th>Doctor User Name</th>
        <th>Doctor Name</th>
        <th>License Number</th>
        <th>Specialization</th>
        <th>University Name</th>
 		<th>Hospital Name</th>
 		<th>Consultation Fee</th> 
        <th>Accept Verification</th>
        <th>Reject Verification</th>
    </tr>
	</thead>
    <tbody id="myTable">
     <tr th:each="adoc:${docpend}">
        <td th:text=${adoc.userName}/>
        <td th:text="${adoc.fName}+ ${adoc.lName}"/>
		<td th:text="${adoc.licenseNo}"/>
		<td th:text=${adoc.speciality} />
		<td th:text=${adoc.university_name}/>
		<td th:text=${adoc.organisation_name} />
		<td th:text=${adoc.consultation_fee} />
		
		<td>
		<form id="accept" method = "post" >
			<input type="hidden" name="appid" id="appid" th:value="${adoc.userName}"/>
		<button type="submit" id ="btn-accept" class="btn btn-sm px-3">Verify</button>
		 </form>
		</td>
		<td>
		 <form id="reject" method ="post">
			<input type="hidden" name="appid" id="appid" th:value="${adoc.userName}"/>
		<button type="submit" id ="btn-reject" class="btn btn-danger btn-sm px-3" >Reject</button>
		 </form>
	    </td>
    </tbody>
</table>
<br>
<hr>
<h4 style="text-align:left;"><b>Verified Doctors</b></h4>  
<table class="table " style="border:none !important;">
	<thead>
    <tr>
        <th>Doctor Name</th>
        <th>License Number</th>
        <th>Specialization</th>
        <th>University Name</th>
 		<th>Hospital Name</th>
 		<th>Consultation Fee</th> 
 		<th>Verification</th> 
 		
    </tr>
	</thead>
    <tbody id="appoTable">
      <tr th:each="adoc:${docacce}">
        <td th:text="${adoc.fName}+${adoc.lName}"/>
		<td th:text="${adoc.licenseNo}"/>
		<td th:text=${adoc.speciality} />
		<td th:text=${adoc.university_name}/>
		<td th:text=${adoc.organisation_name} />
		<td th:text=${adoc.consultation_fee} />
		<td th:text=${adoc.verification} />
		
		</tr>  
    </tbody>
</table>

</div>
<br>
<hr>
<div align="center" style="width:70%; margin: auto;">
	<h4 style="text-align:left;"><b>Registered Patients List</b></h4>
	
	<!--<button type="button" id="PatientsList" class="PatientsList">Show Patients List</button>
	<button type="button" id="Hbtn2" style="background-color:red; display:inline; color:white; width:30%; height:40px; border-radius:7px;">Hide</button>-->
	<br>
	<br>
	<table style="width:100%; " class="table ">
		<thead>
		<tr>
        <th>Patient Name</th>
        <th>Email</th>
        <th>Contact Number</th> 
        <th>Age</th>
        <th>State</th>
 		<th>City</th>
 		
		</tr>
		</thead>
		<tbody id="tdata">
		<tr th:each="appoint:${patList}">
      
		<td th:text="${appoint.fName} + ${appoint.lName}"/>
		<td th:text="${appoint.emailId}"/>
		<td th:text="${appoint.contactNo}"/>
		<td th:text="${appoint.age}"/>
		<td th:text="${appoint.state}"/>
		<td th:text="${appoint.city}"/>
	 </tr>
		</tbody>
	</table>
</div>


<hr>

<div class="wrapper">
	<hr>
	<br>
	<h4 class="h3head">All Appointments</h4>  
	<br><br>
	<table class="table table-striped">
	<thead>
    <tr> 
        <th>Doctor Name</th>
        <th>Doctor Address</th>
        <th>Doctor Contact</th>
        <th>Patient Name</th>     
        <th>Patient Address</th>
        <th>Patient Contact</th>
        <th>Appointment Time</th>
        <th>Appointment Status</th>
    </tr>
	</thead>
    <tr th:each="appoint:${appList}">
      
		<td th:text="${appoint.docname}"/>
		<td th:text="${appoint.docaddress}"/>
		<td th:text="${appoint.doccontact}"/>
		<td th:text="${appoint.patname}"/>
		<td th:text="${appoint.pataddress}"/>
		<td th:text="${appoint.patcontact}"/>
		<td th:text="${appoint.timing}"/>
		<td th:text="${appoint.status}"/>
	 </tr>
</table>
<br><hr><br>

</div>
<div id="foot"></div>



<script>
	
	function addDoctor(id,name,license,spec,univ,hospital,consultationFee,verification)
	{
		var appo_accept = document.getElementById('appoTable')

		
			var row = `<tr>
				            <td>${id}</td>
							<td>${name}</td>
							<td>${license}</td>
							<td>${spec}</td>
							<td>${univ}</td>
							<td>${hospital}</td>
							<td>${consultationFee}</td>
							<td>${verification}</td>
					 </tr>`
			appo_accept.innerHTML += row


	}
	$(document).ready(function($)
	{
	$(document).on('click',"#btn-reject", function(e){
		
		e.preventDefault();
		var docId={req : $('#appid').val()};
			 $.ajax({
	        	 	type : "POST",
					url : "reject_doctor",
					data : docId,
					success : function(data) {
						
						alert(data);
						
	                },
	                error : function(xhr, status, error) {
	                	alert("Some Error Occured");
	                    alert(xhr.responseText);
	                }
	            });
		
		
		
		
		var r = $(this).closest('tr').remove();
	}
	);
	
	$(document).on('click',"#btn-accept", function(e)
	{
		
		e.preventDefault();
		var docId={req : $('#appid').val()};
			 $.ajax({
	        	 	type : "POST",
					url : "verify_doctor",
					data : docId,
					success : function(data) {
						
						alert(data);
						
	                },
	                error : function(xhr, status, error) {
	                	alert("Some Error Occured");
	                    alert(xhr.responseText);
	                }
	            });
		
		var row = $(this).closest('tr');
		var col1 = row.find("td:eq(0)").text();
		var col2 = row.find("td:eq(1)").text();
		var col3 = row.find("td:eq(2)").text();
		var col4 = row.find("td:eq(3)").text();
		var col5 = row.find("td:eq(4)").text();
		var col6 = row.find("td:eq(5)").text();
		var col7 = row.find("td:eq(6)").text();
		var col8 = row.find("td:eq(7)").text();
		
		addDoctor(col1,col2,col3,col4,col5,col6,col7,col8);
		//console.log(row);
		row.remove();
		
	});
	
	/*$("#tdata").hide();
	$("#PatientsList").click(function(e){
		e.preventDefault();
		$("#tdata").show();
		commit();
	});
	
	$("#docdata").hide();
	$("#DoctorsList").click(function(e){
		e.preventDefault();
		$("#docdata").show();
		commit();
	});
	
	$("#myTable").hide();
	$("#DList").click(function(e){
		e.preventDefault();
		$("#myTable").show();
		commit();
	});
	
	$("#Hbtn1").click(function(){
		$("#myTable").hide();
	});
	
	$("#Hbtn2").click(function(){
		$("#tdata").hide();
	});
	
	$("#Hbtn3").click(function(){
		$("#docdata").hide();
	});*/
});




	
	

</script>
</body>
</html>